body {
  background-image: linear-gradient(
      96.2deg,
      rgba(255, 230, 112, 0.6) 10.4%,
      rgba(255, 100, 100, 0.6) 43.8%,
      rgba(0, 93, 219, 0.6) 105.8%
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/564/original/pexels-aleksandar-pasaric-325185.jpg?1677688108);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Kalam", cursive;
  height: 100vh;
  width: 100vw;
}
.container {
  background: rgba(255, 255, 255, 0.5);
  max-width: 600px;
  padding: 40px 10px;
  margin: 100px auto;
  border: 8px ridge rgb(255, 0, 0);
  border-radius: 30px;
  box-shadow: 0px 2px 20px 15px rgba(0, 0, 0, 0.2);
}
h1 {
  color: rgb(0, 60, 255);
  text-align: center;
  text-shadow: 0px 6px 22px rgba(0, 0, 0, 0.4);
  font-size: 50px;
  margin: 15px;
}
h2 {
  color: rgb(0, 60, 255);
  font-size: 35px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}
select {
  display: block;
  background: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  padding: 3px 5px;
  margin: 10px auto;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 20px;
}
footer {
  text-align: center;
  font-size: 12px;
}
.city {
  display: flex;
  margin: 10px 0;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 2px groove rgba(0, 0, 0, 0.4);
}
.date {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
.time {
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  font-size: 35px;
}
#earth {
  display: flex;
  position: absolute;
  margin: 20px 50px;
  text-align: center;
  width: 60px;
  height: 60px;
  background: url(http://i.imgur.com/uHH9cXc.jpg);
  border-radius: 50%;
  background-size: 122px;
  box-shadow: inset 1.6px 7.2px 16px 7.2px rgb(0, 0, 0, 0.7),
    inset -1.2px 0 2.4px 0.8px rgba(255, 255, 255, 0.3);
  animation-name: rotate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
#clock {
  position: absolute;
  margin: -80px 450px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://dev-to-uploads.s3.amazonaws.com/uploads/articles/sa5ueuzzu2l7j8iv7bk8.jpg);
  background-size: cover;
  border: 3px inset rgb(255, 0, 0);
  border-radius: 50%;
  z-index: 2;
}
#clock::before {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  margin-left: -2px;
  margin-top: -2px;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #4d4b63;
  z-index: 12;
}
.hand {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: rgb(249, 241, 1);
  position: absolute;
  top: 50%;
  border-radius: 1px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: ease;
}
.hand.hours {
  margin: 0 19.25%;
  height: 2.5px;
  width: 30%;
  z-index: 3;
}
.hand.minutes {
  margin: 0 9.5%;
  background: rgb(249, 199, 1);
  height: 1.5px;
  z-index: 10;
  width: 40%;
}
.hand.seconds {
  margin: 0 4%;
  background: rgb(238, 121, 26);
  width: 45%;
  height: 0.5px;
  z-index: 11;
}

@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 100px 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 100px 0px;
  }
}
#africa,
#americas,
#antarctica,
#asia,
#atlantic,
#australia,
#europe,
#indian,
#pacific {
  display: none;
}
